#apDiv1 {
	position:absolute;
	width:102px;
	height:115px;
	z-index:1;
	left: 127px;
	top: 81px;
}
#apDiv2 {
	position:absolute;
	width:103px;
	height:23px;
	z-index:2;
	left: 386px;
	top: 50px;

}
#apDiv3 {
	position:absolute;
	width:44px;
	height:23px;
	z-index:3;
	left: 510px;
	top: 50px;

}
#apDiv4 {
	position:absolute;
	width:25px;
	height:23px;
	z-index:4;
	left: 572px;
	top:50px;
}
#apDiv5 {
	position:absolute;
	width:27px;
	height:23px;
	z-index:5;
	left: 613px;
	top: 50px;
}
#apDiv6 {
	position:absolute;
	width:177px;
	height:19px;
	z-index:6;
	left: 130px;
	top: 291px;
}
#apDiv7 {
	position:absolute;
	width:177px;
	height:19px;
	z-index:7;
	left: 130px;
	top: 330px;
}
#apDiv8 {
	position:absolute;
	width:177px;
	height:19px;
	z-index:8;
	left: 130px;
	top: 368px;
}
#apDiv9 {
	position:absolute;
	width:177px;
	height:19px;
	z-index:9;
	left: 130px;
	top: 410px;
}